aiohttp==3.7.4
python-dateutil==2.8.1
parsedatetime==2.6
numpy==1.22.0
asyncpg==0.23.0
pytz
psutil
lru_dict
pytimeparse
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
discord.py[speed]==2.3.2